.container-fluid{padding-left: 0px; padding-right: 0px;}
a:focus, a:hover{text-decoration: none;}
.navbar-toggle .icon-bar{background-color: #fff;}
.navbar-brand{position: absolute;}
/*--------- header strat ------------*/
.hky_section{
    background-image: url(../static/../images/1.jpg);
    background-size: cover;
    background-position: center 0;
    min-height: 100vh;
}
.hky_nav{
    float: right;
}
.navbar-header a{color: #fff;font-size: 21px;line-height: 21px;font-weight: 400;letter-spacing: 1px;}
.hky_nav li{
    display: inline;
}
.hky_nav li a{
    display: block;
    position: relative;
    padding: 15px 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}
.img_hky{
    width: 54%;
    margin-right: 3px;
    margin-top: -8px;
}
/* .hky_navbar{
    /* background: rgba(44,143,229,0.85) 
}*/
/*--------- end ------------ */
.hky_header_file{
    color: #fff;
    margin-top: 200px;
    /* background: rgba(255, 255, 255, .5); */
    /* padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 40px; */
    width: 69%;
    border-radius: 8px;
}
.hky_header_file .hky_header_title{
    padding-bottom: 20px;
}
.hky_header_file .hky_header_title h1{
    font-size: 31px;
    line-height: 49px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 0;
}
.hky_header_body{
    max-width: 710px;
}
.hky_header_body p{
    color: rgb(244, 244, 244);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-indent: 2em;
    line-height: 23px;
}
.hky_header_button_a {
    margin-top: 35px;
}
.hky_header_button_a .hky_button_a{
    color: #fff;
    padding: 15px 30px;
    border-radius: 55px;
    background: rgba(87, 184, 248,.85);
    transition: all 0.4s;
}
.hky_header_button .hky_button{
    color: #fff;
    padding: 15px 21px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    bottom: -16px;
    right: 50%;
}
.hky_header_button .hky_button i{
    color: #2c2c2c;
    font-size: 18px;
}
.hky_header_button{
    margin-top: 40px;
}
.control{
    margin-top: 145px;
    margin-bottom: 145px;
}
.control_title h2{
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 15px;
}
.control_title span{
    color: #5a6c90;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}
.control_body{
    margin-top: 90px;
}
.control_body h3{
    color: #2f4166;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 1.1px;
}
.control_body p{
    color: #7080a2;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .8px;
    max-width: 500px;
    margin-top: 13px !important;
    text-indent: 2em;
}
.control_body .badge-new{
    background-image: linear-gradient(-90deg,#609cff 0,#8d7fff 100%);
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    padding: 3px 8px;
    letter-spacing: .5px;
    font-weight: 700;
    position: relative;
    top: -3px;
    left: 7px;
}
.hky_section_a{
    background-color: #fafafa;
    border-bottom: 1px solid #e2e1e1;
    border-top: 1px solid #e2e1e1;
    padding: 100px 0 150px;
}
.web_title h3{
    color: #555;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}
.web_title p{
    color: #666;
    font-size: 16px;
    line-height: 25px;
    max-width: 75%;
    margin: 22px auto;
}
.web_title::after{
    content: '';
    position: absolute;
    bottom: -45px;
    height: 1px;
    width: 87%;
    left: 0;
    right: 0;
    margin: auto;
    background: #eaeaea;
}
/* .feature{
    margin-top: 110px;
}
.web_body img{
    float: left;
    margin-left: 63px;
}
.web_body_wenben{
    float: right;
    max-width: 75%;
}
.web_body_wenben h4{
    color: #53575f;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 0 !important;
}
.web_body_wenben p{
    margin-top: 18px;
    font-size: 15px;
    line-height: 24px;
    color: #666;
    width: 95%;
}
.web_body{
    margin-top: 20px;
}*/
.content{
    background-color: #ffffff;
    width: 100%;
    /* height: 100px; */
    box-shadow: 0 2px 3px rgba(76,84,109,.4);
    position: relative;
    top: -5px;
}
.display{
    display: none;
}
.padding_hky_a{
    margin-top: 30PX;
}
.padding_hky_a P{
    text-indent: 2em;
}
.padding_hky{
    padding: 15px;
    padding-bottom: 35px;
    box-shadow: 0 2px 3px rgba(76,84,109,.4);
    background: #fff;
}
.padding_hky p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .8px;
    text-indent: 2em;
}
/* .tab_hky_ul ul li .active{
    background-color: #ffffff;
    color: rgba(87, 184, 248,1);
    box-shadow: 0 2px 6px rgba(76,84,109,.4);
    font-weight: 600;
} */
.great_padding{
    padding: 184px 0 174px;
}
.tab_hky{
    width: 89%;
    margin: 100px auto 0;
}
/* .tab_hky_ul ul {
    padding-left: 0;
}
.tab_hky_ul ul li {
    display: inline-block;
}
.tab_hky_ul ul li a {
    color: #fff;
    background: rgba(122, 122, 122, .8);
    padding: 12px 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 1px;
} */
.great_title h4{
    color: #36afda;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 0px
}
.great_body p{
    width: 310px;
    margin-bottom: 35px;
    color: #666;
    line-height: 24px;
} 
.hky_section_b{
    background-image: url("../static/../images/2.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-top: 160px;
    height: 500px;
    background-attachment: fixed;
}
.heroku{
    width: 510px;
    /* height: 390px; */
    position: absolute;
    right: 13%;
    bottom: -60px;
    box-shadow: 0 5px 16px rgba(76,84,109,.4);
    padding: 60px 70px;
    background: #54657b;
}
.heroku_body p{
    margin-top: 25px;
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    font-style: italic;
}
.heroku_footer{
    margin-top: 20px;
}
.heroku_footer span{
    color: #cfdcec;
    font-size: 16px;
}
.guys_icons{
    margin-top: 200px;
    margin-bottom: 270px;
    position: relative;
}
.guys_header::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e9e9e9;
    top: 11px;
}
.guys_header h4{
    position: relative;
    top: -10px;
    padding: 0 40px;
    background: #fff;
    color: #97a8b8;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.8px;
    font-weight: 600;
    line-height: 24px;
}
/* .guy_icons_a{
} */
.footer_big{
    padding: 80px 0 130px;
    background: #2b4255;
    position: relative;
    color: #ffffff;
}
.footer_big .footer_title h3{
    font-size: 24px;
    margin-top: 0 !important;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 44px;
}
.footer_button .footer_button_a{
    background: #42b1e2;
    font-size: 13px;
    border: 0;
    font-weight: 600;
    letter-spacing: 1.8px;
    display: inline-block;
    box-shadow: 1px 1px rgba(0,0,0,.09);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: 12px 40px;
    color: #ffffff;
}
.footer_button .footer_button_b{
    color: #b5dcff;
    text-transform: uppercase;
    border: 2px solid #91bbe0;
    font-weight: 600;
    padding: 9px 44px;
    border-radius: .25rem;
    letter-spacing: 1.8px;
    display: inline-block;
    transition: all 0.4s;
    margin-left: 10px;
}
.footer_button .footer_button_b:hover{
    border: 2px solid #fff;
    color: #fff;
}
.footer_mean{
    margin-top: 100px;
}
.mean h3{
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}
.mean_ul{
    padding-left: 0px !important;
}
.mean_ul li{
    list-style: none;
}
.mean_ul li a{
    color: #97b0c5;
    display: block;
    margin-bottom: 2px;
}
.bottom{
    color: #68849a;
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 13px;
}
.control_body i{
    background-image: linear-gradient(-90deg,#609cff 0,#8d7fff 100%);
    color: #fff;
    padding: 20px 21px;
    font-size: 45px;
    border-radius: 44px;
    text-align: center;
    margin-bottom: 20px;
}
.heroku_img h1{
    margin: 0;
    font-size: 34px;
    line-height: 43px;
    color: #fff;
    font-family: cursive;
}
.guy_icons_a{
    float: right !important;
}
.ul ul {
    padding-left: 0;
}
.ul li{
    display: inline-block;
    padding-right: 20px;
    padding-top: 5px;
}
.ul ul li a{
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .3px;
    transition: all 0.2s;
}
.ul ul li a:hover, .ul ul li a:focus{color:  rgba(87, 184, 248,.85);}
.hky_padding_a {
    margin-top: 58px;
    margin-bottom: 60px;
}
.text_center{
    width: 100%;
}
.mean span{
    color: #97b0c5;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: .8px;
}
.mean a{
    color: #97b0c5;
    transition: all 0.2s;
}
.mean a:hover, .mean a:focus{
    color: #C4C4C4;
    text-decoration: none;
}
.great_icons a{
    color: #2c2c2c;
    text-transform: uppercase;
    background: #fff;
    padding: 10px 24px;
    border: 1px solid #2c2c2c;
    transition: all 0.4s;
    border-radius: 6px;
}
.great_icons a:hover {
    text-decoration: none;
    background: #fff;
    border: 1px solid rgba(87, 184, 248,.85);
    border-radius: 6px;
    padding: 10px 24px;
    color: rgba(87, 184, 248,1);
}
@media (max-width: 768px){
    .control_body p{
        text-align: center;
        max-width: 100%;
    }
    .control_body h3{
        text-align: center;
    }
    .text_center{
        text-align: center;
    }
}

@media (max-width: 992px){
    .heroku {
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-top: 174px;
        height: 450px;
        overflow: hidden;
    } 
    .hky_section_b{
        height: 0;
        margin-top: 476px;
    }
    .great_body p{
        width: 100%;
    }
    .great_icons img{
        width: 25% !important;
    }
    .heroku_body p{
        height: 200px;
        overflow: hidden;
    }
}





#menu{width:360px; overflow:hidden; margin:100px auto;border:1px solid #BF9660;}
#menu #nav {display:block;width:100%;padding:0;margin:0;list-style:none;}
#menu #nav li {float:left;width:120px;}
#menu #nav li a {display:block;line-height:27px;text-decoration:none;padding:0 0 0 5px; text-align:center; color:#333;}
#menu_con{ width:358px; height:135px; border-top:none}
.tag{ padding:10px; overflow:hidden;}
.selected{background:#C5A069; color:#fff;}