<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/fonts/iconfont.css">
    <style type="text/css">
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <section class="hky_section">
        <nav class="navbar hky_navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> <img src="../static/images/logo.png" class="img_hky img-responsive" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="hky_nav navbar-nav">
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="#">系部详情</a></li>
                        <li><a href="#">毕业生风采</a></li>
                        <li><a href="#">学生社团</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hky_header_file">
                        <div class="hky_header_title">
                            <h1>电子信息技术系</h1>
                        </div>
                    </div>
                </div>
                <div class="hky_header_body">
                    <p>
                        拥有一支专业素质过硬、知识结构合理、充满活力热情的教师队伍和优秀的教学管理团队。 我系专业实验（训）室面积约1万平方米，多年来政府投入累计4300万元，代表性设备包括华为最新的三网合一的通信实验室（3G、光传输、软交换）、安捷伦矢量信号分析仪、ADAM综合测试仪、DELL4U服务器、分布式数据系统等。
                        系部重视培养学生的创新能力，鼓励学生积极参与国际国内各项技能大赛并屡获殊荣。2012年中法机器人3D“过山车”寻轨竞速大赛中勇夺一等奖，2010年荣获第三届全国技工院校技能大赛一等奖，2009年获第三届“红旗杯”全国大学生开源软件技术竞赛“团队特等奖”，2009年获iGoogle中国大学生创新设计大赛一等奖、二等奖……
                    </p>
                </div>
                <div class="hky_header_button_a">
                    <a href="javascript:void(0)" class="hky_button_a">查看更多</a>
                </div>
                <div class="hky_header_button">
                    <a href="#xiangqing" class="hky_button"> <i class="fa fa-long-arrow-down"></i> </a>
                </div>
            </div>
        </div>
    </section>
    <div class="container" id="xiangqing">
        <div class="control">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="control_title">
                        <h2>系部详情</h2>
                        <span>拥有一支专业素质过硬、知识结构合理、充满活力热情的教师队伍和优秀的教学管理团队。</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="control_body">
                        <div class="text_center">
                            <i class="iconfont icon-hulianwang"></i>
                        </div>
                        <h3>互联网专业</h3>
                        <p>
                            本专业培养掌握互联网技术的复合型人才。通过理论和实践教学，使学生能从事移动互联网设备客户端和企业商务网站的设计、研发和测试；能进行企业商务平台的策划、运营、推广、优化与维护管理；能完成企业网站的市场信息收集和形象宣传，开展网络编辑及策划信息维护等工作。
                            空间是Web开发人员和设计者的完美解决方案。你可以为你最好的项目和客户提供一个很棒的网站，也会得到很好的支持。
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="control_body">
                        <div class="text_center">
                            <i class="iconfont icon-wangluo"></i>
                        </div>
                        <h3>通信网络应用</h3>
                        <p>
                            培养具有良好的综合素质，较强的实践能力、创新能力、创业能力和可持续发展能力，掌握现代通信网络基本理论知识，具备包含电信网、互联网、广播电视网在内的通信网络工程的勘察与规划设计、网络优化、网络应用服务的能力，能从事各企、事业单位通信网络设备的安装调测及网络系统运维工作，并适应通信制造业和通信业务部门、应用部门、工程安装部门生产、建设、管理、服务第一线需要的高级应用型专业技术人才。
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="control_body">
                        <div class="text_center">
                            <i class="iconfont icon-Jdianzichanpin-zhinengshouji"></i>
                        </div>
                        <h3>智能电子</h3>
                        <p>
                            毕业生需具有良好的综合素质、较强的实践能力、创新能力、创业能力和可持续发展能力，掌握现代智能电子产品及设备的基本知识和工作原理，具备消费类电子新产品的辅助设计研发能力，了解现代消费类电子产品的前沿技术和发展方向，具有生产、测试、安装、调试、维护、技术支持和营销能力，适应消费类电子产品的生产和服务第一线需要。
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="control_body">
                        <div class="text_center">
                            <i class="iconfont icon-hulianwang"></i>
                        </div>
                        <h3>系部动态 <span class="badge-new">new</span></h3>
                        <p>
                            毕业生需具有良好的综合素质、较强的实践能力、创新能力、创业能力和可持续发展能力，掌握现代智能电子产品及设备的基本知识和工作原理，具备消费类电子新产品的辅助设计研发能力，了解现代消费类电子产品的前沿技术和发展方向，具有生产、测试、安装、调试、维护、技术支持和营销能力，适应消费类电子产品的生产和服务第一线需要。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="hky_section_a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="web_title">
                        <h3>学生风采</h3>
                        <p>
                            为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab_hky">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab_hky_ul" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">学生社团</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">毕业生风采</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">实训基地</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active padding_hky" id="home">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="col-lg-6">
                                        <p>
                                            为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，信息技术系以“放飞青春·追逐梦想” 为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成长。我系展开班级文艺晚会,经过各班积极的筹备,向大家展示了我系学生在文艺方面的突出能力,各班都取得了优异的成绩,再次由衷的祝福。
                                            为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成长。我系展开班级文艺晚会
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="padding_hky_a">
                                            <p>
                                                为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，信息技术系以“放飞青春·追逐梦想” 为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，

                                            </p>
                                        </div>
                                        <div class="padding_hky_a">
                                            <p>
                                                为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，信息技术系以“放飞青春·追逐梦想” 为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成
                                                为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成长。我系展开班级文艺晚会
                                            </p>
                                        </div>
                                        <div class="hky_header_button_a">
                                            <a href="javascript:void(0)" class="hky_button_a">查看更多</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane padding_hky" id="profile">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="col-lg-6">
                                        <p>
                                            为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，信息技术系以“放飞青春·追逐梦想” 为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成长。我系展开班级文艺晚会,经过各班积极的筹备,向大家展示了我系学生在文艺方面的突出能力,各班都取得了优异的成绩,再次由衷的祝福。
                                            为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成长。我系展开班级文艺晚会
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="padding_hky_a">
                                            <p>
                                                为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，信息技术系以“放飞青春·追逐梦想” 为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，

                                            </p>
                                        </div>
                                        <div class="padding_hky_a">
                                            <p>
                                                为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，信息技术系以“放飞青春·追逐梦想” 为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成
                                                为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成长。我系展开班级文艺晚会
                                            </p>
                                        </div>
                                        <div class="hky_header_button_a">
                                            <a href="javascript:void(0)" class="hky_button_a">查看更多</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane padding_hky" id="messages">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="col-lg-6">
                                        <p>
                                            为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，信息技术系以“放飞青春·追逐梦想” 为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成长。我系展开班级文艺晚会,经过各班积极的筹备,向大家展示了我系学生在文艺方面的突出能力,各班都取得了优异的成绩,再次由衷的祝福。
                                            为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成长。我系展开班级文艺晚会
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="padding_hky_a">
                                            <p>
                                                为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，信息技术系以“放飞青春·追逐梦想” 为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，

                                            </p>
                                        </div>
                                        <div class="padding_hky_a">
                                            <p>
                                                为了丰富同学们的校园生活，促进班级文化氛围，展示技能风采，5月31日下午，在高训大厦1802阶梯会场，信息技术系以“放飞青春·追逐梦想” 为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成
                                                为主题举办了班级文艺比赛，以此增加同学之间的了解以及增进班与班之间的交流，展现我系学生积极向上蓬勃进取的青年热潮，提升班级凝聚力，给同学们一个展示自我风采的舞台，让同学们不断成长。我系展开班级文艺晚会
                                            </p>
                                        </div>
                                        <div class="hky_header_button_a">
                                            <a href="javascript:void(0)" class="hky_button_a">查看更多</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="great_padding">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="great">
                        <div class="great_title">
                            <h4>招生就业</h4>
                        </div>
                        <div class="great_body">
                            <p>
                                今年，深圳市高中阶段学校第二批第一阶段共39个学校，84个代码，其中，录取分数300分以上的有23个代码，我院就有14个，占61%。录取分数351分以上的学校代码有9个，全部被我院囊括，约占我院全部代码的47%。
                            </p>
                            <p>
                                今年，深圳市高中阶段学校第二批第一阶段共39个学校，84个代码，其中，录取分数300分以上的有23个代码，我院就有14个，占61%。录取分数351分以上的学校代码有9个，全部被我院囊括，约占我院全部代码的47%。
                            </p>
                        </div>
                        <div class="great_icons">
                            <a href="javascript:void(0)">
                                <i class="fa fa-long-arrow-right"></i>
                                <span>more</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <section class="hky_section_b">
        <div class="container-fluid">
            <div class="heroku">
                <div class="heroku_img">
                    <h1>我系荣誉</h1>
                </div>
                <div class="heroku_body">
                    <p>
                        “我系成立至今，已为深圳市培养了五千多名毕业生，他们既有一定的理论基础知识，又有较强的实际操作技能，深受用人单位的欢迎。多年来毕业生供不应求，毕业生人数与需求职位的比例高达1:4！从我系走出的莘莘学子遍及深圳乃至整个华南地区，不负母校重托，以信息化产业发展为己任，在工作中成绩斐然，已成为企事业单位的中高级技术与骨干管理人才。”
                    </p>
                </div>
                <div class="heroku_footer">
                    <span>电子信息技术系</span>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="guys_icons">
            <div class="guys_header text-center">
                <H4>党团建设</H4>
            </div>
            <div class="guy_icons_a">
                <div class="ul">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">党委书记、校长李滔为学校全体党员干部上廉政党课</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">党委书记、校长李滔为学校全体党员干部上廉政党课</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">党委书记、校长李滔为学校全体党员干部上廉政党课</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">党委书记、校长李滔为学校全体党员干部上廉政党课</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">党委书记、校长李滔为学校全体党员干部上廉政党课</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">党委书记、校长李滔为学校全体党员干部上廉政党课</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">党委书记、校长李滔为学校全体党员干部上廉政党课</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">党委书记、校长李滔为学校全体党员干部上廉政党课</a>
                        </li>
                    </ul>
                </div>
                <div class="hky_header_button_a hky_padding_a">
                    <a href="javascript:void(0)" class="hky_button_a">查看更多</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_big">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer_title">
                        <h3>
                            深圳技师学院<span style="padding: 0 10px; color:#A3A3A3;">|</span>电子信息技术系
                        </h3>
                    </div>
                    <div class="footer_button">
                        <a href="javascript:void(0);" class="footer_button_a">
                            系部动态
                        </a>
                        <a href="javascript:void(0);" class="footer_button_b">
                            招生就业
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer_mean">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="mean">
                            <h3>联系方式</h3>
                            <span>高中起点报名咨询电话：0755-83757355 83757696 Fax：0755-83757696<br></span>
                            <span>初中起点报名咨询电话：0755-83757353 83774512<br></span>
                            <span>地址：<a href="javascript:void(0)"> 深圳市龙岗区龙城街道五联社区将军帽1号</a><br></span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="bottom">  
                © Copyright 2001-2017 深圳技师学院 | 深圳高级技工学校 | 电子信息技术系 版权所有<br>
                粤ICP备06056846号 站长统计 | 今日IP[2] | 今日PV[3] | 昨日IP[1] | 昨日PV[1] | 当前在线[0]<br>
                Powered by Drupal<br>
            </span>
        </div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/fonts/iconfont.js"></script>
    <script src="../static/js/index.js"></script>
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
</body>

</html>