<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/major.css">
</head>

<body>
    <nav class="navbar hky_navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#"> <img src="../static/images/logo.png" class="img_hky img-responsive" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="hky_nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#">系部详情</a></li>
                    <li><a href="#">毕业生风采</a></li>
                    <li><a href="#">学生社团</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="section_hky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="header">
                        <h1>电子信息技术系</h1>
                        <div class="header_hky_a">
                            <a href="index.html">首页</a>
                            <span>/ </span>
                            <a href="major.html">系部详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="tabs-ul">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tab-nav-hky" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">互联网</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">通信网络</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">智能电子</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">系部动态</a></li>
        </ul>
    </div>
    <div class="container">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="Internet">
                            <div class="title text-center">
                                <h1>互联网专业</h1>
                            </div>
                            <!-- <span class="line"></span> -->
                            <div class="Internet_text">
                                <h3>专业特色：</h3>
                                <p>
                                    本专业针对目前传统互联网和移动互联网的巨大人才需求缺口，培养符合互联网产业需求的中坚力量，以互联网产品的开发、运营与维护作为专业培养的逻辑主线，让学生深入了解互联网产品所依赖的网络环境、网络文化，并以此为基础，培养学生根据市场的需求进行网站的开发、网站的运维、移动互联网产品的开发
                                    与设计。低年级专业培养范围比较广泛，高年级会针对不同的发展方向设计专业俱乐部，培养学生的专长，这种专业培养模式可以让学生具有很强的就业竞争力。
                                </p>
                                <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                <h3 class="peiyan">培养目标：</h3>
                                <p>
                                    培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 高级工层次的学生需考取“电子商务师（三级）”证书或、计算机操作员（三级）证书； 预备技师层次的学生需考取“电子商务师（二级）”证书或、计算机操作员（二级）证书（目前没有，待开发中）；
                                </p>
                            </div>
                        </div>
                        <div class="Internet" style="margin-top: 30px;">
                            <div class="title text-center">
                                <h1>互联网专业</h1>
                            </div>
                            <!-- <span class="line"></span> -->
                            <div class="Internet_text">
                                <h3>专业特色：</h3>
                                <p>
                                    本专业针对目前传统互联网和移动互联网的巨大人才需求缺口，培养符合互联网产业需求的中坚力量，以互联网产品的开发、运营与维护作为专业培养的逻辑主线，让学生深入了解互联网产品所依赖的网络环境、网络文化，并以此为基础，培养学生根据市场的需求进行网站的开发、网站的运维、移动互联网产品的开发
                                    与设计。低年级专业培养范围比较广泛，高年级会针对不同的发展方向设计专业俱乐部，培养学生的专长，这种专业培养模式可以让学生具有很强的就业竞争力。
                                </p>
                                <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                <h3 class="peiyan">培养目标：</h3>
                                <p>
                                    培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 高级工层次的学生需考取“电子商务师（三级）”证书或、计算机操作员（三级）证书； 预备技师层次的学生需考取“电子商务师（二级）”证书或、计算机操作员（二级）证书（目前没有，待开发中）；
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="Internet_direction">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>招生详情</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body">
                                <h3> 学制：五年</h3>
                                <h3> 招收层次：初中起点</h3>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业方向</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding">
                                <h3> 专业方向</h3>
                                <p>以互联网（传统互联网、移动互联网）为依托，进行互联网产品的开发、运维。</p>
                                <h3> 相应岗位</h3>
                                <ul>
                                    <li><span> 互联网产品开发</span></li>
                                    <li><span> 网站编辑</span></li>
                                    <li><span> 网站运营</span></li>
                                    <li><span> 网站维护</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业核心课程</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding hky_curriculum">
                                <span>《C语言程序设计》</span>
                                <span>《java面向对象项目设计》</span>
                                <span>《网页美工设计》</span>
                                <span>《静态页面构建》</span>
                                <span>《javascript程序设计》</span>
                                <span>《网站推广》</span>
                                <span>《关系型数据库应用》</span>
                                <span>《互联网技术综合实训》</span>
                                <span>《jsp网站应用开发》</span>
                                <span>《网站优化》</span>
                                <span>《php网站建设》</span>
                                <span>《Ajax优化网站用户体验》</span>
                                <span>《web框架技术开发》</span>
                                <span>《网站服务器架设》</span>
                                <span>《开源网站二次开发》</span>
                                <span>《移动互联网技术》</span>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业基本要求</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding hky_require">
                                <h3> 1,知识要求</h3>
                                <ul>
                                    <li><span> 掌握硬件维护和网络调试和技能。</span></li>
                                    <li><span> 了解网页美工的常用工具</span></li>
                                    <li><span> 了解基本的网站推广的手段和实施技巧</span></li>
                                    <li><span> 了解web前端开发技术的基本特点和需求</span></li>
                                    <li><span> 了解动态网站的构成原理和基本技术，熟悉PHP、JSP等主流网站开发技术</span></li>
                                    <li><span> 掌握常用数据库应用知识</span></li>
                                </ul>
                                <h3> 2,技能要求</h3>
                                <ul>
                                    <li><span> 能排除计算机和小型局域网的常见故障；</span></li>
                                    <li><span> 能使用主流图形设计工具完成典型互联网产品的美工设计任务</span></li>
                                    <li><span> 能运用web前端技术为企业设计用户体验良好的产品界面；</span></li>
                                    <li><span> 熟练掌握动态网页编程技术</span></li>
                                    <li><span> 能完成各种常见类型的互联网产品的开发工作</span></li>
                                    <li><span> 能根据网站现行的运行状态制定相关的互联网产品优化和推广计划</span></li>
                                    <li><span> 能根据客户的需求，完成互联网产品的测试</span></li>
                                </ul>
                                <h3> 3,职业素养</h3>
                                <ul>
                                    <li><span> （1）有理想、有道德、守纪律，热爱祖国，有良好的职业道德;</span></li>
                                    <li><span> （2）热爱互联网行业,对本专业有强烈的兴趣,乐于钻研新技术、新知识;</span></li>
                                    <li><span> （3）具有开拓精神、创新意识;</span></li>
                                    <li><span> （4）具有较强的服务意识强;</span></li>
                                    <li><span> （5）具有较强的沟通、协调能力;</span></li>
                                    <li><span> （6）具有保密意识</span></li>
                                    <li><span> （7）具有数据备份、病毒防范、应急处理方案制定等方面的安全意识;</span></li>
                                    <li><span> （8）具有精益求精的质量意识。</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="Internet">
                            <div class="title text-center">
                                <h1>互联网专业</h1>
                            </div>
                            <!-- <span class="line"></span> -->
                            <div class="Internet_text">
                                <h3>专业特色：</h3>
                                <p>
                                    本专业针对目前传统互联网和移动互联网的巨大人才需求缺口，培养符合互联网产业需求的中坚力量，以互联网产品的开发、运营与维护作为专业培养的逻辑主线，让学生深入了解互联网产品所依赖的网络环境、网络文化，并以此为基础，培养学生根据市场的需求进行网站的开发、网站的运维、移动互联网产品的开发
                                    与设计。低年级专业培养范围比较广泛，高年级会针对不同的发展方向设计专业俱乐部，培养学生的专长，这种专业培养模式可以让学生具有很强的就业竞争力。
                                </p>
                                <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                <h3 class="peiyan">培养目标：</h3>
                                <p>
                                    培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 高级工层次的学生需考取“电子商务师（三级）”证书或、计算机操作员（三级）证书； 预备技师层次的学生需考取“电子商务师（二级）”证书或、计算机操作员（二级）证书（目前没有，待开发中）；
                                </p>
                            </div>
                        </div>
                        <div class="Internet" style="margin-top: 30px;">
                            <div class="title text-center">
                                <h1>互联网专业</h1>
                            </div>
                            <!-- <span class="line"></span> -->
                            <div class="Internet_text">
                                <h3>专业特色：</h3>
                                <p>
                                    本专业针对目前传统互联网和移动互联网的巨大人才需求缺口，培养符合互联网产业需求的中坚力量，以互联网产品的开发、运营与维护作为专业培养的逻辑主线，让学生深入了解互联网产品所依赖的网络环境、网络文化，并以此为基础，培养学生根据市场的需求进行网站的开发、网站的运维、移动互联网产品的开发
                                    与设计。低年级专业培养范围比较广泛，高年级会针对不同的发展方向设计专业俱乐部，培养学生的专长，这种专业培养模式可以让学生具有很强的就业竞争力。
                                </p>
                                <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                <h3 class="peiyan">培养目标：</h3>
                                <p>
                                    培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 高级工层次的学生需考取“电子商务师（三级）”证书或、计算机操作员（三级）证书； 预备技师层次的学生需考取“电子商务师（二级）”证书或、计算机操作员（二级）证书（目前没有，待开发中）；
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="Internet_direction">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>招生详情</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body">
                                <h3> 学制：五年</h3>
                                <h3> 招收层次：初中起点</h3>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业方向</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding">
                                <h3> 专业方向</h3>
                                <p>以互联网（传统互联网、移动互联网）为依托，进行互联网产品的开发、运维。</p>
                                <h3> 相应岗位</h3>
                                <ul>
                                    <li><span> 互联网产品开发</span></li>
                                    <li><span> 网站编辑</span></li>
                                    <li><span> 网站运营</span></li>
                                    <li><span> 网站维护</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业核心课程</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding hky_curriculum">
                                <span>《C语言程序设计》</span>
                                <span>《java面向对象项目设计》</span>
                                <span>《网页美工设计》</span>
                                <span>《静态页面构建》</span>
                                <span>《javascript程序设计》</span>
                                <span>《网站推广》</span>
                                <span>《关系型数据库应用》</span>
                                <span>《互联网技术综合实训》</span>
                                <span>《jsp网站应用开发》</span>
                                <span>《网站优化》</span>
                                <span>《php网站建设》</span>
                                <span>《Ajax优化网站用户体验》</span>
                                <span>《web框架技术开发》</span>
                                <span>《网站服务器架设》</span>
                                <span>《开源网站二次开发》</span>
                                <span>《移动互联网技术》</span>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业基本要求</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding hky_require">
                                <h3> 1,知识要求</h3>
                                <ul>
                                    <li><span> 掌握硬件维护和网络调试和技能。</span></li>
                                    <li><span> 了解网页美工的常用工具</span></li>
                                    <li><span> 了解基本的网站推广的手段和实施技巧</span></li>
                                    <li><span> 了解web前端开发技术的基本特点和需求</span></li>
                                    <li><span> 了解动态网站的构成原理和基本技术，熟悉PHP、JSP等主流网站开发技术</span></li>
                                    <li><span> 掌握常用数据库应用知识</span></li>
                                </ul>
                                <h3> 2,技能要求</h3>
                                <ul>
                                    <li><span> 能排除计算机和小型局域网的常见故障；</span></li>
                                    <li><span> 能使用主流图形设计工具完成典型互联网产品的美工设计任务</span></li>
                                    <li><span> 能运用web前端技术为企业设计用户体验良好的产品界面；</span></li>
                                    <li><span> 熟练掌握动态网页编程技术</span></li>
                                    <li><span> 能完成各种常见类型的互联网产品的开发工作</span></li>
                                    <li><span> 能根据网站现行的运行状态制定相关的互联网产品优化和推广计划</span></li>
                                    <li><span> 能根据客户的需求，完成互联网产品的测试</span></li>
                                </ul>
                                <h3> 3,职业素养</h3>
                                <ul>
                                    <li><span> （1）有理想、有道德、守纪律，热爱祖国，有良好的职业道德;</span></li>
                                    <li><span> （2）热爱互联网行业,对本专业有强烈的兴趣,乐于钻研新技术、新知识;</span></li>
                                    <li><span> （3）具有开拓精神、创新意识;</span></li>
                                    <li><span> （4）具有较强的服务意识强;</span></li>
                                    <li><span> （5）具有较强的沟通、协调能力;</span></li>
                                    <li><span> （6）具有保密意识</span></li>
                                    <li><span> （7）具有数据备份、病毒防范、应急处理方案制定等方面的安全意识;</span></li>
                                    <li><span> （8）具有精益求精的质量意识。</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="Internet">
                            <div class="title text-center">
                                <h1>互联网专业</h1>
                            </div>
                            <!-- <span class="line"></span> -->
                            <div class="Internet_text">
                                <h3>专业特色：</h3>
                                <p>
                                    本专业针对目前传统互联网和移动互联网的巨大人才需求缺口，培养符合互联网产业需求的中坚力量，以互联网产品的开发、运营与维护作为专业培养的逻辑主线，让学生深入了解互联网产品所依赖的网络环境、网络文化，并以此为基础，培养学生根据市场的需求进行网站的开发、网站的运维、移动互联网产品的开发
                                    与设计。低年级专业培养范围比较广泛，高年级会针对不同的发展方向设计专业俱乐部，培养学生的专长，这种专业培养模式可以让学生具有很强的就业竞争力。
                                </p>
                                <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                <h3 class="peiyan">培养目标：</h3>
                                <p>
                                    培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 高级工层次的学生需考取“电子商务师（三级）”证书或、计算机操作员（三级）证书； 预备技师层次的学生需考取“电子商务师（二级）”证书或、计算机操作员（二级）证书（目前没有，待开发中）；
                                </p>
                            </div>
                        </div>
                        <div class="Internet" style="margin-top: 30px;">
                            <div class="title text-center">
                                <h1>互联网专业</h1>
                            </div>
                            <!-- <span class="line"></span> -->
                            <div class="Internet_text">
                                <h3>专业特色：</h3>
                                <p>
                                    本专业针对目前传统互联网和移动互联网的巨大人才需求缺口，培养符合互联网产业需求的中坚力量，以互联网产品的开发、运营与维护作为专业培养的逻辑主线，让学生深入了解互联网产品所依赖的网络环境、网络文化，并以此为基础，培养学生根据市场的需求进行网站的开发、网站的运维、移动互联网产品的开发
                                    与设计。低年级专业培养范围比较广泛，高年级会针对不同的发展方向设计专业俱乐部，培养学生的专长，这种专业培养模式可以让学生具有很强的就业竞争力。
                                </p>
                                <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                <h3 class="peiyan">培养目标：</h3>
                                <p>
                                    培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 高级工层次的学生需考取“电子商务师（三级）”证书或、计算机操作员（三级）证书； 预备技师层次的学生需考取“电子商务师（二级）”证书或、计算机操作员（二级）证书（目前没有，待开发中）；
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="Internet_direction">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>招生详情</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body">
                                <h3> 学制：五年</h3>
                                <h3> 招收层次：初中起点</h3>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业方向</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding">
                                <h3> 专业方向</h3>
                                <p>以互联网（传统互联网、移动互联网）为依托，进行互联网产品的开发、运维。</p>
                                <h3> 相应岗位</h3>
                                <ul>
                                    <li><span> 互联网产品开发</span></li>
                                    <li><span> 网站编辑</span></li>
                                    <li><span> 网站运营</span></li>
                                    <li><span> 网站维护</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业核心课程</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding hky_curriculum">
                                <span>《C语言程序设计》</span>
                                <span>《java面向对象项目设计》</span>
                                <span>《网页美工设计》</span>
                                <span>《静态页面构建》</span>
                                <span>《javascript程序设计》</span>
                                <span>《网站推广》</span>
                                <span>《关系型数据库应用》</span>
                                <span>《互联网技术综合实训》</span>
                                <span>《jsp网站应用开发》</span>
                                <span>《网站优化》</span>
                                <span>《php网站建设》</span>
                                <span>《Ajax优化网站用户体验》</span>
                                <span>《web框架技术开发》</span>
                                <span>《网站服务器架设》</span>
                                <span>《开源网站二次开发》</span>
                                <span>《移动互联网技术》</span>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业基本要求</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding hky_require">
                                <h3> 1,知识要求</h3>
                                <ul>
                                    <li><span> 掌握硬件维护和网络调试和技能。</span></li>
                                    <li><span> 了解网页美工的常用工具</span></li>
                                    <li><span> 了解基本的网站推广的手段和实施技巧</span></li>
                                    <li><span> 了解web前端开发技术的基本特点和需求</span></li>
                                    <li><span> 了解动态网站的构成原理和基本技术，熟悉PHP、JSP等主流网站开发技术</span></li>
                                    <li><span> 掌握常用数据库应用知识</span></li>
                                </ul>
                                <h3> 2,技能要求</h3>
                                <ul>
                                    <li><span> 能排除计算机和小型局域网的常见故障；</span></li>
                                    <li><span> 能使用主流图形设计工具完成典型互联网产品的美工设计任务</span></li>
                                    <li><span> 能运用web前端技术为企业设计用户体验良好的产品界面；</span></li>
                                    <li><span> 熟练掌握动态网页编程技术</span></li>
                                    <li><span> 能完成各种常见类型的互联网产品的开发工作</span></li>
                                    <li><span> 能根据网站现行的运行状态制定相关的互联网产品优化和推广计划</span></li>
                                    <li><span> 能根据客户的需求，完成互联网产品的测试</span></li>
                                </ul>
                                <h3> 3,职业素养</h3>
                                <ul>
                                    <li><span> （1）有理想、有道德、守纪律，热爱祖国，有良好的职业道德;</span></li>
                                    <li><span> （2）热爱互联网行业,对本专业有强烈的兴趣,乐于钻研新技术、新知识;</span></li>
                                    <li><span> （3）具有开拓精神、创新意识;</span></li>
                                    <li><span> （4）具有较强的服务意识强;</span></li>
                                    <li><span> （5）具有较强的沟通、协调能力;</span></li>
                                    <li><span> （6）具有保密意识</span></li>
                                    <li><span> （7）具有数据备份、病毒防范、应急处理方案制定等方面的安全意识;</span></li>
                                    <li><span> （8）具有精益求精的质量意识。</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="settings">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="Internet">
                            <div class="title text-center">
                                <h1>互联网专业</h1>
                            </div>
                            <!-- <span class="line"></span> -->
                            <div class="Internet_text">
                                <h3>专业特色：</h3>
                                <p>
                                    本专业针对目前传统互联网和移动互联网的巨大人才需求缺口，培养符合互联网产业需求的中坚力量，以互联网产品的开发、运营与维护作为专业培养的逻辑主线，让学生深入了解互联网产品所依赖的网络环境、网络文化，并以此为基础，培养学生根据市场的需求进行网站的开发、网站的运维、移动互联网产品的开发
                                    与设计。低年级专业培养范围比较广泛，高年级会针对不同的发展方向设计专业俱乐部，培养学生的专长，这种专业培养模式可以让学生具有很强的就业竞争力。
                                </p>
                                <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                <h3 class="peiyan">培养目标：</h3>
                                <p>
                                    培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 高级工层次的学生需考取“电子商务师（三级）”证书或、计算机操作员（三级）证书； 预备技师层次的学生需考取“电子商务师（二级）”证书或、计算机操作员（二级）证书（目前没有，待开发中）；
                                </p>
                            </div>
                        </div>
                        <div class="Internet" style="margin-top: 30px;">
                            <div class="title text-center">
                                <h1>互联网专业</h1>
                            </div>
                            <!-- <span class="line"></span> -->
                            <div class="Internet_text">
                                <h3>专业特色：</h3>
                                <p>
                                    本专业针对目前传统互联网和移动互联网的巨大人才需求缺口，培养符合互联网产业需求的中坚力量，以互联网产品的开发、运营与维护作为专业培养的逻辑主线，让学生深入了解互联网产品所依赖的网络环境、网络文化，并以此为基础，培养学生根据市场的需求进行网站的开发、网站的运维、移动互联网产品的开发
                                    与设计。低年级专业培养范围比较广泛，高年级会针对不同的发展方向设计专业俱乐部，培养学生的专长，这种专业培养模式可以让学生具有很强的就业竞争力。
                                </p>
                                <img src="../static/images/20120618-1.jpg" alt="" class="img-responsive">
                                <h3 class="peiyan">培养目标：</h3>
                                <p>
                                    培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 高级工层次的学生需考取“电子商务师（三级）”证书或、计算机操作员（三级）证书； 预备技师层次的学生需考取“电子商务师（二级）”证书或、计算机操作员（二级）证书（目前没有，待开发中）；
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="Internet_direction">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>招生详情</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body">
                                <h3> 学制：五年</h3>
                                <h3> 招收层次：初中起点</h3>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业方向</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding">
                                <h3> 专业方向</h3>
                                <p>以互联网（传统互联网、移动互联网）为依托，进行互联网产品的开发、运维。</p>
                                <h3> 相应岗位</h3>
                                <ul>
                                    <li><span> 互联网产品开发</span></li>
                                    <li><span> 网站编辑</span></li>
                                    <li><span> 网站运营</span></li>
                                    <li><span> 网站维护</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业核心课程</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding hky_curriculum">
                                <span>《C语言程序设计》</span>
                                <span>《java面向对象项目设计》</span>
                                <span>《网页美工设计》</span>
                                <span>《静态页面构建》</span>
                                <span>《javascript程序设计》</span>
                                <span>《网站推广》</span>
                                <span>《关系型数据库应用》</span>
                                <span>《互联网技术综合实训》</span>
                                <span>《jsp网站应用开发》</span>
                                <span>《网站优化》</span>
                                <span>《php网站建设》</span>
                                <span>《Ajax优化网站用户体验》</span>
                                <span>《web框架技术开发》</span>
                                <span>《网站服务器架设》</span>
                                <span>《开源网站二次开发》</span>
                                <span>《移动互联网技术》</span>
                            </div>
                        </div>
                        <div class="Internet_direction dir_padding">
                            <div class="title_direction">
                                <h1><i class="fa fa-anchor"></i>专业基本要求</h1>
                            </div>
                            <!-- <div class="line"></div> -->
                            <div class="title_direction_body hky_padding hky_require">
                                <h3> 1,知识要求</h3>
                                <ul>
                                    <li><span> 掌握硬件维护和网络调试和技能。</span></li>
                                    <li><span> 了解网页美工的常用工具</span></li>
                                    <li><span> 了解基本的网站推广的手段和实施技巧</span></li>
                                    <li><span> 了解web前端开发技术的基本特点和需求</span></li>
                                    <li><span> 了解动态网站的构成原理和基本技术，熟悉PHP、JSP等主流网站开发技术</span></li>
                                    <li><span> 掌握常用数据库应用知识</span></li>
                                </ul>
                                <h3> 2,技能要求</h3>
                                <ul>
                                    <li><span> 能排除计算机和小型局域网的常见故障；</span></li>
                                    <li><span> 能使用主流图形设计工具完成典型互联网产品的美工设计任务</span></li>
                                    <li><span> 能运用web前端技术为企业设计用户体验良好的产品界面；</span></li>
                                    <li><span> 熟练掌握动态网页编程技术</span></li>
                                    <li><span> 能完成各种常见类型的互联网产品的开发工作</span></li>
                                    <li><span> 能根据网站现行的运行状态制定相关的互联网产品优化和推广计划</span></li>
                                    <li><span> 能根据客户的需求，完成互联网产品的测试</span></li>
                                </ul>
                                <h3> 3,职业素养</h3>
                                <ul>
                                    <li><span> （1）有理想、有道德、守纪律，热爱祖国，有良好的职业道德;</span></li>
                                    <li><span> （2）热爱互联网行业,对本专业有强烈的兴趣,乐于钻研新技术、新知识;</span></li>
                                    <li><span> （3）具有开拓精神、创新意识;</span></li>
                                    <li><span> （4）具有较强的服务意识强;</span></li>
                                    <li><span> （5）具有较强的沟通、协调能力;</span></li>
                                    <li><span> （6）具有保密意识</span></li>
                                    <li><span> （7）具有数据备份、病毒防范、应急处理方案制定等方面的安全意识;</span></li>
                                    <li><span> （8）具有精益求精的质量意识。</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_big">
        <div class="container">
            <div class="footer_mean">
                <div class="row">
                    <!-- <div class="col-lg-12 text-center">
                            <div class="mean">
                                <h3>联系方式</h3>
                                <span>高中起点报名咨询电话：0755-83757355 83757696 Fax：0755-83757696<br></span>
                                <span>初中起点报名咨询电话：0755-83757353 83774512<br></span>
                                <span>地址：<a href="javascript:void(0)"> 深圳市龙岗区龙城街道五联社区将军帽1号</a><br></span>
                            </div>
                        </div> -->
                    <div class="col-md-3 col-sm-3">
                        <div class="mean">
                            <h3>其他</h3>
                            <ul>
                                <li><a href="javascrit:void">招生就业</a></li>
                                <li><a href="javascrit:void">党团建设</a></li>
                                <li><a href="javascrit:void">学生社团</a></li>
                                <li><a href="javascrit:void">毕业生风采</a></li>
                                <li><a href="javascrit:void">实训基地</a></li>
                                <li><a href="javascrit:void">新闻中心</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="mean">
                            <h3>其他</h3>
                            <ul>
                                <li><a href="javascrit:void">招生就业</a></li>
                                <li><a href="javascrit:void">党团建设</a></li>
                                <li><a href="javascrit:void">学生社团</a></li>
                                <li><a href="javascrit:void">毕业生风采</a></li>
                                <li><a href="javascrit:void">实训基地</a></li>
                                <li><a href="javascrit:void">新闻中心</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="mean">
                            <h3>联系方式</h3>
                            <span>高中起点报名咨询电话：0755-83757355 83757696 Fax：0755-83757696<br></span>
                            <span>初中起点报名咨询电话：0755-83757353 83774512<br></span>
                            <span>地址：<a href="javascript:void(0)" class="mean_a"> 深圳市龙岗区龙城街道五联社区将军帽1号</a><br></span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="bottom">  
                    © Copyright 2001-2017 深圳技师学院 | 深圳高级技工学校 | 电子信息技术系 版权所有<br>
                    粤ICP备06056846号 站长统计 | 今日IP[2] | 今日PV[3] | 昨日IP[1] | 昨日PV[1] | 当前在线[0]<br>
                    Powered by Drupal<br>
                </span>
        </div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
</body>

</html>