<!DOCTYPE html>
<!--
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
             佛祖保佑    永无BUG

-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/about.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/material-icons.css">
</head>

<body>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 topbar">
                    <i class="material-icons icon">track_changes</i>
                    <span>
                        育电子信息技术人才 创高级职业技能
                    </span>
                </div>
                <div class="col-md-5 text-right">
                    <ul class="topbar-list list-inline">
                        <li>
                            <a href="javascript:void(0);">Login</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="back-hky-a">
        <nav class="navbar navbar-default-hky" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="../static/images/logo.png" alt="" class="img-responsive" style="width:50%;">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="main">
                            <a href="#">首页</a>
                        </li>
                        <li class="main">
                            <a href="#">关于我们</a>
                        </li>
                        <li class="main">
                            <a href="#">专业</a>
                        </li>
                        <li class="main">
                            <a href="#">毕业生风采</a>
                        </li>
                        <li class="main">
                            <a href="#">系部动态</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="back-hky-b">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="back-h1">关于我们</h1>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li>
                            <i class="material-icons">home</i>
                            <a href="javascript:void(0)">首页</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">关于我们</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="back-hky-c">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="padding-hky">
                        <img src="../static/images/05.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="padding-hky-a">
                        <img src="../static/images/01.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="padding-hky-c">
                        <p class="wenhua">文化</p>
                        <h2>关于事件</h2>
                        <p class="body">我们的目标是把重点放在建立与客户和社区的关系上。使用我们的创造性礼物驱动这个基础。我们的目标是把重点放在建立与客户和社区的关系上。使用我们的创造性礼物驱动这个基础。</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:40px;">
                <div class="col-md-5">
                    <div class="padding-hky-c text-right">
                        <p class="wenhua">文化</p>
                        <h2>关于事件</h2>
                        <p class="body">我们的目标是把重点放在建立与客户和社区的关系上。使用我们的创造性礼物驱动这个基础。我们的目标是把重点放在建立与客户和社区的关系上。使用我们的创造性礼物驱动这个基础。</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="padding-hky-a">
                        <img src="../static/images/01.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="padding-hky">
                        <img src="../static/images/05.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>