<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/material-icons.css">
</head>

<body>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 topbar">
                    <i class="material-icons icon">track_changes</i>
                    <span>
                        育电子信息技术人才 创高级职业技能
                    </span>
                </div>
                <div class="col-md-5 text-right">
                    <ul class="topbar-list list-inline">
                        <li>
                            <a href="javascript:void(0);">Login</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="back-hky-a">
        <nav class="navbar navbar-default-hky" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="../static/images/logo.png" alt="" class="img-responsive" style="width:50%;">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="main">
                            <a href="#">首页</a>
                        </li>
                        <li class="main">
                            <a href="#">关于我们</a>
                        </li>
                        <li class="main">
                            <a href="#">专业</a>
                        </li>
                        <li class="main">
                            <a href="#">毕业生风采</a>
                        </li>
                        <li class="main">
                            <a href="#">系部动态</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="back-hky"></section>
    <section class="back-hky-b">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="major">
                        <i class="material-icons icon">merge_type</i>
                        <h3 class="font-major">
                            <a href="javscript:void(0);"> 互联网</a>
                        </h3>
                        <p>
                            培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="major">
                        <i class="material-icons icon">merge_type</i>
                        <h3 class="font-major">
                            <a href="javscript:void(0);"> 互联网</a>
                        </h3>
                        <p>
                            培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="major">
                        <i class="material-icons icon">merge_type</i>
                        <h3 class="font-major">
                            <a href="javscript:void(0);"> 互联网</a>
                        </h3>
                        <p>
                            培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="back-hky-c">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h4>About us</h4>
                    </div>
                </div>
            </div>
            <div style="margin-top:20px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            互联网
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p> 培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            互联网
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p> 培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            互联网
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p> 培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。 培养掌握互联网技术，能从事移动设备客户端和企业商务网站的设计、开发；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。；能完成企业商务网站的优化；能实施企业商务平台的运营管理；能完成企业网站的信息维护工作。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="oven">
                            <img src="../static/images/1.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="button-hky text-center">
                    <a href="javascript:void(0);" class="button-hky-a">About us</a>
                </div>
            </div>
        </div>
    </section>
    <section class="back-hky-d">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="graduate-heading">
                        <p class="graduate-p">毕业生
                            <b>风采</b>
                        </p>
                        <hr class="doubler-hr">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- strat -->
                <div class="graduate-body">
                    <div class="col-md-1">
                        <img src="../static/images/team-member-4.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3">
                        <div style="margin-top:5px;">
                            <h4>
                                <a href="javascript:void(0)"> 王文定</a>
                            </h4>
                            <p>
                                深圳市中加力实业发展有限公司从事系统管理和网站维护工作。深圳市中加力实业发展有限公
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end -->
                <!-- strat -->
                <div class="graduate-body">
                    <div class="col-md-1">
                        <img src="../static/images/team-member-3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3">
                        <div style="margin-top:5px;">
                            <h4>
                                <a href="javascript:void(0)"> 王文定</a>
                            </h4>
                            <p>
                                深圳市中加力实业发展有限公司从事系统管理和网站维护工作。深圳市中加力实业发展有限公
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end -->
                <!-- strat -->
                <div class="graduate-body">
                    <div class="col-md-1">
                        <img src="../static/images/team-member-4.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3">
                        <div style="margin-top:5px;">
                            <h4>
                                <a href="javascript:void(0)"> 王文定</a>
                            </h4>
                            <p>
                                深圳市中加力实业发展有限公司从事系统管理和网站维护工作。深圳市中加力实业发展有限公
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
            <div class="row">
                <!-- strat -->
                <div class="graduate-body">
                    <div class="col-md-2">
                        <img src="../static/images/team-member-4.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <div style="margin-top:5px;">
                            <h4>
                                <a href="javascript:void(0)"> 王文定</a>
                            </h4>
                            <p>
                                2004年时四年级的她听朋友抱怨说，宝安没有篮球用品专卖店，遂萌发了开店的念头。在朋友和家人的支持下，她创办了深圳宝安VT篮球用品专卖店，经过一年多的努力，“一个店一个月的营业额有1万多元”，而且已经开了第二家分店。
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end -->
                <!-- strat -->
                <div class="graduate-body">
                    <div class="col-md-2">
                        <img src="../static/images/team-member-3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <div style="margin-top:5px;">
                            <h4>
                                <a href="javascript:void(0)"> 王文定</a>
                            </h4>
                            <p>
                                2004年时四年级的她听朋友抱怨说，宝安没有篮球用品专卖店，遂萌发了开店的念头。在朋友和家人的支持下，她创办了深圳宝安VT篮球用品专卖店，经过一年多的努力，“一个店一个月的营业额有1万多元”，而且已经开了第二家分店。
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </section>
    <section class="back-hky-e">
        <div class="container">
            <!-- <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-4">
                    <div class="lisr">
                        <img src="../static/images/stock2.jpg" alt="" class="img-responsive" style="height:260px;">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="lisr">
                        <div class="heading">
                            <h4>
                                <i class="material-icons">thumb_up</i>
                                党团建设
                            </h4>
                        </div>
                        <div class="lisr-body">
                            <p class="lisr-p">
                                深圳市中加力实业发展有限公司从事系统管理和网站维护工作。深圳市中加力实业发展有限公深圳市中加力实业发展有限公司从事系统管理和网站维护工作。深圳市中加力实业发展有限公深圳市中加力实业发展有限公实业发展有限公
                            </p>
                            <p class="lisr-p-a">
                                深圳市中加力实业发展有限公司从事系统管理和网站维护工作。深圳市中加力实业发展有限公深圳市中加力实业发展有限公司从事系统管理和网站维护工作。深圳市中加力实业发展有限公深圳市中加力实业发展有限公实业发展有限公
                            </p>
                            <ul class="lisr-ul">
                                <li>
                                    <small>
                                        <a href="javascript:void(0);"> 深圳市中加力实业发展有限公司</a>
                                    </small>
                                </li>
                                <li>
                                    <small>
                                        <a href="javascript:void(0);"> 深圳市中加力实业发展有限公司</a>
                                    </small>
                                </li>
                                <li>
                                    <small>
                                        <a href="javascript:void(0);"> 深圳市中加力实业发展有限公司</a>
                                    </small>
                                </li>
                                <li>
                                    <small>
                                        <a href="javascript:void(0);"> 深圳市中加力实业发展有限公司</a>
                                    </small>
                                </li>
                            </ul>
                            <a href="javascript:void(0);" class="more-a">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="heading ">
                        <h4 class="heading-h4">
                            选择
                        </h4>
                    </div>
                    <ul class="ul-footer">
                        <li>
                            <a href="javascript:void(0);">新闻中心</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">系部介绍</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">就业情况</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">校企合作</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="heading">
                        <h4 class="heading-h4">
                            选择
                        </h4>
                    </div>
                    <ul class="ul-footer">
                        <li>
                            <a href="javascript:void(0);">街景</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">无人机航拍校园</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">无人机航拍全景</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="heading">
                        <h4 class="heading-h4">
                            招生
                        </h4>
                    </div>
                    <ul class="ul-footer">
                        <li>
                            <a href="javascript:void(0);">招生问答（FAQ）</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">学院招生在线咨询</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">高中起点报名须知</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">高中起点网上报名</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">高中起点招生计划</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">初中起点招生计划</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">我院毕业生享受同等大专层...</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2017招生宣传片</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="heading">
                        <h4 class="heading-h4">
                            联系我们
                        </h4>
                    </div>
                    <ul class="ul-footer">
                        <li>
                            <a href="javascript:void(0);">高中起点报名咨询电话：<br>0755-83757355 83757696 Fax：0755-83757696</a>
                        </li>
                        <li style="margin-top:10px;">
                            <a href="javascript:void(0);">初中起点报名咨询电话：<br>0755-83757353 83774512</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-hky">
                        <span>© Copyright 2001-2017 深圳技师学院 | 深圳高级技工学校 | 电子信息技术系 版权所有</span><br>
                        <span>粤ICP备06056846号</span><br>
                        <span>Powered by Drupal</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>